<div class="product" data-product-id="{{id}}">
    <div class="product-image">
        <img src="{{image.outfit}}">
    </div>
    <div class="product-details">
        <div class="designer-name"><strong>{{designer.name}}</strong></div>
        <div class="product-name"><em>{{name}}</em></div>
        <div class="product-price">{{price}}</div>
    </div>
</div>